@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

body {
    min-width: 1500px;
    margin: 0;
    padding-bottom: calc(97px + 10px);
    position: relative;
    /*
        background: url("../img/bg.png") no-repeat;

    */
}

.bg-color-panel {
    background-color: #A3CDFF;
}

.bg-color-aside {
    background: #CFE5FF;
}

.color-text-control {
    color: #65007E;
}

.container {
    width: 1200px;
    margin: auto;
}

    .container ~ .container {
        margin-top: 10px;
    }

.header {
    position: relative;
}

ul.menu {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    margin: 0;
}

a.menu-item {
    text-transform: uppercase;
    text-decoration: none;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px 6px 0 10px;
}

    a.menu-item:hover {
        color: #CE0BFF;
    }

.main {
    min-height: 475px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 97px;
}

a.btn-up {
    position: fixed;
    right: 15px;
    bottom: 20px;
    text-decoration: none;
    width: calc(100vw * (70 / 1500));
    height: calc(100vw * (70 / 1500));
}

    a.btn-up > img {
        width: 100%;
    }

a.btn-social-msg {
    text-decoration: none;
    position: fixed;
    left: 17px;
    bottom: 19px;
    height: 95px;
    width: 286px;
    padding: 15px;
    border: 1px solid #A3CDFF;
    background-color: #EDFEFF;
    border-radius: 10px;
    color: black;
}

    a.btn-social-msg > h3 {
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0;
    }

    a.btn-social-msg > p {
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0;
    }

a.btn-social-msg > div.pin {
    background-color: inherit;
    transform: rotateZ(45deg);
    border: inherit;
    width: 13px;
    height: 13px;
    position: absolute;
    left: 30px;
    bottom: -8px;
    border-top: none;
    border-left: none;
}

.header .menu li:hover .catalog {
    visibility: visible;
}

.catalog {
    position: absolute;

    z-index: 1000;

    left: 0;
    right: 0;

    height: 411px;

    visibility: collapse;
}

.catalog:hover {
    visibility: visible;
}

    .catalog > ul {
        list-style-type: none;
        margin: 0;
        padding: 1px 0 0 0;
        width: 197px;
        height: 100%;
    }

        .catalog > ul > li {
            text-transform: none;
            text-align: left;
            font-family: Roboto;
            font-size: 17px;
            font-style: normal;
            font-weight: 700;
            line-height: 31px;
            letter-spacing: 0.03em;
            padding-left: 6px;
            color: #65007E;
        }

            .catalog li:hover {
                color: #65007E;
                background-color: #EDFEFF;
            }

    .catalog li:hover .goods {
        visibility: visible;
    }

    .catalog .goods {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: calc(100% - 197px);
        background-color: white;
        color: black;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        visibility: collapse;
    }

    .catalog .goods:hover {
        visibility: visible;
    }

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    margin: 0px 4px 0 9px;
}

.row > * {
    margin: 5px 0 0 0;
}

.row ~ * {
    margin-top: 10px;
}

.product > h3 {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    margin: 7px 0 0px 0px;
}

.product > p {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px 0 0 0;
}